# Ignore everything
*

# Allow folders
!*/

# Allow important files
!*.cs
!*.resx
!*.csproj
!*.sln
!.gitignore
# Ignore generated assembly files
*AssemblyInfo.cs
# Re-ignore generated/build folders
obj/
bin/
.vs/
.vscode/
.history/